@media (max-width: 1024px){
  /*ヘッダー*/
  header img {
    height: 40px;
    width: auto;
    margin: 8px 32px;
    line-height: 56px;
  }  
  .header-link {
    display: none;
  }
  .header-list li a {
    line-height: 24px;
  }  
  .lang-li {
    height: 56px;
  }
  .lang {
    display: block;
    margin-top: 8px;
    padding: 8px;
    font-size: 2rem;
  }
  .change-color .lang{
    padding: 8px;
    margin-right: 32px;
    font-size: 2rem;
  }  
  /*トップ*/
  .top-img img{
    width: 70%;
  }
  /*メッセージ*/
  .message {
    width: 90%;
    margin: 0 auto;
    margin-top: 152px;
  }
  .message-center {
    width: 90%;
    padding: 32px 16px;
  }
  .message-center::after {
    padding: 0px;
  }
  .message-center::before {
    padding: 0px;
    height: 90%;
  }
  .message-img {
    padding-bottom: 32px;
  }
  .message-img img {
    width: 30%;
    margin-right: 24px;
  }
  /*アイテム*/
  .semicircle {
    height: 40vh;
  }  
  .semicircle::before {
    width: 400px;
    margin-bottom: -72px;
  }
  .recommend h2 {
    margin-top: 248px;
  }
  .recommend-size {
    width: 100%;
    padding: 40px;
  }
  .items {
    width: 100%;
  }
  .item {
    width: 80%;
  }
  .item img {
    width: 40%;
  }  
  .Caramel:before {
    content: "";
    width: 50px;
    height: 1px;
    border-bottom: 1px solid #574643;
    display: block;
    position: absolute;
    top: 110px;
    right: 40%;
    z-index: 98;
  }
  .mokha-p:before {
    content: "";
    width: 50px;
    height: 1px;
    border-bottom: 1px solid #574643;
    display: block;
    position: absolute;
    top: 110px;
    right: 50%;
    z-index: 98;
  }
  .matcha:before {
    content: "";
    width: 50px;
    height: 1px;
    border-bottom: 1px solid #574643;
    display: block;
    position: absolute;
    top: 110px;
    right: 40%;
    z-index: 98;
  }
  .fragolia-p:before {
    content: "";
    width: 50px;
    height: 1px;
    border-bottom: 1px solid #574643;
    display: block;
    position: absolute;
    top: 110px;
    right: 50%;
    z-index: 98;
  }
  .item-back::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 80%;
    height: 900px;
    z-index: 0;
    top: 1850px;
    left: 10%;
    background-color: #fff;
  }
  
  /*sns*/
  .sns {
    width: 100%;
  }  
  .iframe-wrapper {
    width: 80%;
    margin: 0 auto;
  }
  .iframe-wrapper iframe {
    max-width: 100%;
  }

  .icon {
    text-align: center;
    width: 20%;
    margin: 0 auto;
  }
  /*ショップ*/
  .shop-img {
    width: 80%;
  }  
  .shop img {
    width: 45%;
  }
  /*マップ*/
  .map-link {
    width: 80%;
  }  
}
